  /* Page Numbers */
  #page-numbers{
    position: fixed;
    top: 93vh;
    width: 20vw;
    box-sizing: border-box;
  
    z-index: 200;
    margin-left: 75vw;
  }
  
  #page-numbers button{
    font-family: 'Right Sans Light';
    font-size: 1.5rem;
    color: #262626;
    border: none;
    transition: all 1s ease;
    font-style: oblique;
  }
  #page-numbers button:hover{
    margin: 0 .9em 0 0;
  }
  button:focus{
    
    padding: 0 1.2em;
    
  }